# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# 打包产物
dist/
build/

# 虚拟环境
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# 日志
*.log

# 模型文件（太大，不进 git）
*.onnx
*.pt
*.trt
*.engine

# 测试输出
images/
annotations/

# 演示视频
*.mp4
*.MP4
*.avi
